<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OefenexamenCONNECTED.Properties.Settings.CNstr" connectionString="Password=&quot;pxl&quot;;Persist Security Info=True;User ID=sa;Initial Catalog=Spionshop;Data Source=LAPTOP-G6RERC08\PXLDIGITALTEST" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>